/* --------------------------------------------------------
    RESETS
-------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

a,
button,
input:focus,
input[type="button"],
input[type="submit"],
textarea:focus,
.wp-element-button {
  transition: all 0.15s ease-in-out; }

a,
a:focus,
a:hover,
a:not(.wp-element-button) {
  text-decoration-thickness: 1px; }

b,
strong {
  font-weight: var(--wp--custom--font-weight--bold); }

ol,
ul {
  padding-inline-start: calc(var(--wp--preset--spacing--small) + 5px); }

ol ul,
ol ol,
ul ul,
ul ol {
  padding-inline-start: var(--wp--preset--spacing--small); }

a:not(.wp-element-button) {
  color: var(--wp--custom--color--link); }

a:not(.wp-element-button):focus,
a:not(.wp-element-button):hover {
  color: var(--wp--custom--color--link-hover); }

/* --------------------------------------------------------
    Default Spacing for items with backgrounds
-------------------------------------------------------- */
.has-background {
  padding: var(--wp--preset--spacing--large); }

/* --------------------------------------------------------
    ACCESSABILITY
-------------------------------------------------------- */
.has-contrast-background-color {
  color: var(--wp--preset--color--base); }

/* ----------------------------------
    BUTTONS
---------------------------------- */
.wp-block-button:not(.is-style-outline) .wp-block-button__link {
  background: var(--wp--preset--color--contrast);
  color: var(--wp--preset--color--base); }
  .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
    background: var(--wp--custom--color--default-button-hover-background);
    color: var(--wp--preset--color--base); }

.wp-block-button.is-style-outline .wp-block-button__link:hover {
  background: var(--wp--custom--color--outline-button-hover-background);
  border-color: var(--wp--custom--color--outline-button-hover-background);
  color: var(--wp--preset--color--base); }

/* ----------------------------------
    CODE - DARK
---------------------------------- */
.wp-block-code.is-style-dark {
  background: var(--wp--preset--color--contrast);
  color: var(--wp--preset--color--base); }

/* ----------------------------------
    DETAILS
---------------------------------- */
.wp-block-details summary {
  font-weight: var(--wp--custom--font-weight--semi-bold); }

/* ----------------------------------
    DETAILS - GRAY
---------------------------------- */
.wp-block-details.is-style-gray {
  padding: var(--wp--preset--spacing--small);
  border-radius: var(--wp--custom--border-radius--small);
  background: var(--wp--preset--color--gray-1); }

/* ----------------------------------
    DETAILS - DARK
---------------------------------- */
.wp-block-details.is-style-dark {
  padding: var(--wp--preset--spacing--small);
  border-radius: var(--wp--custom--border-radius--small);
  background: var(--wp--preset--color--contrast);
  color: var(--wp--preset--color--base); }

/* ----------------------------------
    LISTS - NO BULLETS
---------------------------------- */
.is-style-no-bullets li {
  list-style-type: none;
  margin-left: 0; }

ul.is-style-no-bullets,
ol.is-style-no-bullets {
  padding-left: 0; }
  ul.is-style-no-bullets li:not(:first-child),
  ul.is-style-no-bullets li:not(:first-child),
  ol.is-style-no-bullets li:not(:first-child),
  ol.is-style-no-bullets li:not(:first-child) {
    margin-top: calc(var(--wp--preset--spacing--small) - 0.5rem); }

.wp-block-quote {
  margin-inline-start: 0;
  margin-inline-end: 0; }

/* ----------------------------------
    TABLE OF CONTENTS
---------------------------------- */
.wp-block-table-of-contents__entry {
  color: var(--wp--custom--color--link); }

/* ----------------------------------
    TABLES
---------------------------------- */
.wp-block-table figcaption {
  padding-top: calc(var(--wp--preset--spacing--small) - 0.5rem);
  font-size: var(--wp--preset--font-size--1-small); }
