/* ----------------------------------
    BUTTONS 
---------------------------------- */
.wp-block-button:not(.is-style-outline) .wp-block-button__link {
	background: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base);

	&:hover {
		background: var(--wp--custom--color--default-button-hover-background);
		color: var(--wp--preset--color--base);
	}
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
	background: var(--wp--custom--color--outline-button-hover-background);
	border-color: var(--wp--custom--color--outline-button-hover-background);
	color: var(--wp--preset--color--base);
}