<!-- wp:template-part {"slug":"header","theme":"monk","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"30px"}}} -->
<main class="wp-block-group"><!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"max(15vw, 30vh)","align":"wide"} /-->

	<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:post-title {"level":1} /-->
	
	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"nowrap","style":{"spacing":{"margin":{"top":"0px"}}}}} -->
	<div class="wp-block-group"><!-- wp:post-author {"avatarSize":24,"showAvatar":false,"showBio":false} /-->
	
	<!-- wp:paragraph -->
	<p>-</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:post-date /--></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap"}} -->
	<div class="wp-block-group"><!-- wp:post-terms {"term":"category","prefix":"Posted In: "} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:post-content {"layout":{"inherit":true}} /-->
	
	<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"nowrap"}} -->
	<div class="wp-block-group"><!-- wp:post-terms {"term":"post_tag","prefix":"Tags: "} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"comments","theme":"monk","tagName":"comments"} /--></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"monk","tagName":"footer"} /-->